.memory-game__board {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    grid-template-areas: 
      ". . . . . ."
      ". . . . . ."
      ". . . . . .";
    gap: 30px;
}